<% layout('layouts/boilerplate') %>

<div class="row gx-5">
    <h1 class="text-center">Finanças</h1>
    <div class="col-sm-2">
        <h4 class="text-center">Ganhos</h4>
        <div class="mb-3">
            <label class="form-label" for="income">Salário:</label>
            <input id="income" name="income" type="number" class="form-control" value=<%=finance.income %>
            aria-label="Salario">
        </div>
    </div>
    <div class="col-sm-2">
        <h4 class="text-center">Contas Fixas</h4>
        <% finance.fixedBills.forEach(function(bill, index) { %>
            <div class="mb-3">
                <label class="form-label" for="fixed-bill-<%= index %>"><%= bill.name %>:</label>
                <input id="fixed-bill-<%= index %>" name="fixed-bill-<%= index %>" type="number" class="form-control" 
                    value=<%=bill.value %> aria-label="fixed-bill-<%= index %>">
            </div>
        <% }); %>
    </div>
</div>