<% layout('layouts/boilerplate') %>

<h1 class="text-center">Finanças</h1>
<div class="row gx-5">
    <div class="col-sm-3">
        <h4 class="text-center mb-4">Ganhos</h4>
        <% finance.incomes.forEach(function(income, index) { %>
            <div class="input-group mb-3 input-group-sm mx-auto">
                <span class="input-group-text" id="income-<%= income._id %>-label"><%= income.name %>:</span>
                <input id="income-<%= income._id %>" name="income-<%= income._id %>" type="number" class="form-control"
                        value=<%= income.value %> aria-label="<%= income.name %>">
                <button class="btn btn-outline-danger fw-bold" type="button" id="del-income-btn-<%= income._id %>">x</button>
            </div>
        <% }); %>
        <div id="new-incomes">
            <!-- New incomes will be put here -->
        </div>
        <div class="input-group input-group-sm mx-auto">
            <input type="text" class="form-control" id="new-income-name" aria-describedby="add-income-btn" 
                aria-label="new-income-name" placeholder="Adicionar...">
            <button class="btn btn-outline-primary fw-bold" type="button" id="add-income-btn">+</button>
        </div>
        <hr class="border-secondary opacity-50">
        <div class="input-group mb-3 input-group-sm mx-auto">
            <span class="input-group-text" id="income-total-label">Total:</span>
            <input id="income-total" name="income-total" type="number" class="form-control no-arrows bg-light"
                    value=<%= finance.totalIncome %> aria-label="income-total" readonly>
        </div>
    </div>
    <div class="col-sm-3">
        <h4 class="text-center mb-4">Contas Fixas</h4>
        <% finance.fixedBills.forEach(function(bill, index) { %>
            <div class="input-group mb-3 input-group-sm mx-auto">
                <span class="input-group-text" id="fixed-bill-<%= bill._id %>-label"><%= bill.name %>:</span>
                <input id="fixed-bill-<%= bill._id %>" name="fixed-bill-<%= bill._id %>" type="number" class="form-control"
                        value=<%= bill.value %> aria-label="<%= bill.name %>">
                <button class="btn btn-outline-danger fw-bold" type="button" id="del-fixed-bill-btn-<%= bill._id %>">x</button>
            </div>
        <% }); %>
        <div id="new-fixed-bills">
            <!-- New incomes will be put here -->
        </div>
        <div class="input-group input-group-sm mx-auto">
            <input type="text" class="form-control" id="new-fixed-bill-name" aria-describedby="add-fixed-bill-btn" 
                aria-label="new-fixed-bill-name" placeholder="Adicionar...">
            <button class="btn btn-outline-primary fw-bold" type="button" id="add-fixed-bill-btn">+</button>
        </div>
        <hr class="border-secondary opacity-50">
        <div class="input-group mb-3 input-group-sm mx-auto">
            <span class="input-group-text" id="fixed-bill-total-label">Total:</span>
            <input id="fixed-bill-total" name="fixed-bill-total" type="number" class="form-control no-arrows bg-light"
                    value=<%= finance.totalFixedBills %> aria-label="fixed-bill-total" readonly>
        </div>
    </div>
    <div class="col-sm-3">
        <h4 class="text-center mb-4">Balanço</h4>
        <div class="input-group mb-3 input-group-sm mx-auto">
            <span class="input-group-text" id="balance-label">Total:</span>
            <input id="balance" name="balance" type="number" class="form-control no-arrows bg-light"
                    value=<%= finance.balance %> aria-label="balance" readonly>
        </div>
    </div>
</div>

<script>
    const finance = <%- JSON.stringify(finance) %>;
</script>

<script src="/js/updater.js"></script>
<script src="/js/removeFields.js"></script>
<script src="/js/addFields.js"></script>