<% layout('layouts/boilerplate') %>

<div class="row gx-5">
    <h1 class="text-center">Finanças</h1>
    <div class="col-sm-2">
        <h4 class="text-center">Ganhos</h4>
        <% finance.incomes.forEach(function(income, index) { %>
            <div class="mb-3">
                <label class="form-label" for="income-<%= index %>"><%= income.name %>:</label>
                <input id="income-<%= index %>" name="income-<%= index %>" type="number" class="form-control"
                    value=<%= income.value %> aria-label="<%= income.name %>">
            </div>
        <% }); %>
        <div class="mb-3">
            <label class="form-label" for="income-total">Total:</label>
                <input id="income-total" name="income-total" type="number" readonly class="form-control no-arrows"
                    value=<%= finance.totalIncome %> aria-label="income-total">
        </div>
    </div>
    <div class="col-sm-2">
        <h4 class="text-center">Contas Fixas</h4>
        <% finance.fixedBills.forEach(function(bill, index) { %>
            <div class="mb-3">
                <label class="form-label" for="fixed-bill-<%= index %>"><%= bill.name %>:</label>
                <input id="fixed-bill-<%= index %>" name="fixed-bill-<%= index %>" type="number" class="form-control" 
                    value=<%=bill.value %> aria-label="fixed-bill-<%= index %>">
            </div>
        <% }); %>
        <div class="mb-3">
            <label class="form-label" for="fixed-bills-total">Total:</label>
                <input id="fixed-bills-total" name="fixed-bills-total" type="number" readonly class="form-control no-arrows"
                    value=<%= finance.totalFixedBills %> aria-label="fixed-bills-total">
        </div>
    </div>
    <div class="col-sm-2">
        <h4 class="text-center">Balanço</h4>
        <div class="mb-3">
            <label class="form-label" for="balance">Total:</label>
                <input id="balance" name="balance" type="number" readonly class="form-control no-arrows"
                    value=<%= finance.balance %> aria-label="balance">
        </div>
    </div>
</div>